@import url("../fonts/fonts.css");

.taskbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #3d3c38;
  background: linear-gradient(#4d4c47, #3d3c38);
  width: 100%;
  color: #f0f0f0;
  font-family: var(--font-family-gui-condensed);
  user-select: none;

  * {
    color: #ccc;
    text-shadow: 0.1em 0.1em 0 #00000080;
  }

  button {
    cursor: pointer;
    border: none;
    background: linear-gradient(#4d4c47, #3d3c38);
    padding: 0.25em 1em;
    font-weight: 100;
    font-size: 1em;
    font-family: inherit;

    &:hover {
      filter: brightness(1.1);
    }

    &:active {
      filter: brightness(0.8);
    }
  }

  .start {
    position: relative;
    background: linear-gradient(#7c9535, #38541f);
  }
}

.spacing {
  flex-grow: 1;
}

.tray {
  display: flex;
  gap: 0.2em;
  padding: 0.25em;
}

.clock {
  float: right;
}

.orb {
  transform: translateY(-8px);
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 50%;
  background: transparent;
  background-image: url("../assets/orb_green.svg");
  background-position: center;
  background-size: calc(100% + 3px) calc(100% + 3px);
  width: 40px;
  height: 40px;

  &:hover {
    filter: brightness(1.25);
  }

  &:active {
    filter: brightness(0.75);
  }
}
