:root {
  font-family: Helvetica, Arial, sans-serif;
}

html, body {
  margin: 0;
  background: url("./assets/win95_mate.png") fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1d3a20;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.os-watermark {
  position: fixed;
  right: 5vw;
  bottom: 5vw;
  opacity: 0.25;
  filter: invert();
  width: 30vw;
  pointer-events: none;
  user-select: none;
}

::selection {
  background-color: #375a39;
}
