html, body {
  margin: 0;
  background: url("./assets/win95_mate.png") fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1d3a20;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

::selection {
  background-color: #375a39;
}
